<div>
				       <b>Product Id :</b> <%=adid %> <br>
				       <b>Product Name :</b> <%=product_name %> <br>
					   <b> Price Per Unit:</b> <%=price_per_unit %> <br>
					   <b> Location:</b> <%=division %> <br>
					   <b> Phone:</b> <%=phone %> <br>
					   <a href="/home/index">Back to home</a>
	
</div>